@model Modelo.Cadastro.Carro

<div class="card-body">
    <div class="form-group">

        <label asp-for="CarroID" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">
                
            </span>
            <input asp-for="CarroID" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon1" />
        </div>

        <label asp-for="Cor" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">
                
            </span>
            <input asp-for="Cor" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon2" />
        </div>

        <label asp-for="Marca" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">
                
            </span>
            <input asp-for="Marca" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon3" />
        </div>

        <label asp-for="Fabricante" class="control-label"></label>
        <br />
        <div class="input-group mb-3">
            <span class="input-group-prepend">
                
            </span>
            <input asp-for="Fabricante" class="form-control" disabled="disabled"
                   aria-describedby="basic-addon4" />
        </div>
    </div>
</div>